<% let today=new Date(); today=today.getFullYear(); %>

    <footer>Copyright © Anushka | <%= today %> | All rights reserved.
            <div id="contact">
                <a href="https://github.com/anuxoxo"><img src="img/github.png" alt="github-icon"></a>
                <a href="https://www.linkedin.com/in/kumari-anushka-1410/"><img src="img/linkedin.png"
                        alt="linkedin-icon"></a>

            </div>
    </footer>

    </body>

    </html>