<%- include("partials/header"); -%>
    <div class="container">
        <div id="box" class="error">
            <h3>The city name does not exist!</h3>
            <p>
                Please enter a valid city name.
            </p>
            <a href="/">Try again?</a>
        </div>
    </div>
    <%- include("partials/footer"); -%>